$primary_blue: #0bcaff;
$bg_color: #eff3f9;
$secondary_grey: rgb(152, 152, 152);

body {
  font-family: "Rubik", sans-serif !important;
}

//navbar styles
.app-nav {
  background-color: $primary_blue;
  padding: 0 !important;
  min-height: 100vh;
  height: 100%;
  .logo {
    margin-top: 30px;
    width: 60%;
    max-width: 100px;
    border-radius: 50%;
  }
  .menu-button {
    width: 100%;
    margin-top: 100px;
    position: relative;
    padding: 15px 0;
    background-image: linear-gradient(
      to right,
      $primary_blue,
      rgba(255, 255, 255, 0.4)
    );
    cursor: pointer;
    img {
      width: 30%;
    }
    i {
      color: white;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

#dropdown-basic {
  border: none;
  background: none;
  padding: 0;
  width: 100%;
  &:focus {
    outline: none !important;
    border: none !important;
  }
}

//Main Page Styles

.main {
  padding: 0 !important;
  background-color: $bg_color;
  header {
    background-color: white;
    padding: 35px 0px 20px 20px;
  }
}

//Card Styling
.card {
  border: none !important;
}

.info {
  font-size: 0.9rem;
  .info-details {
    color: $secondary_grey;
    font-size: 0.85rem;
    * {
      padding: 0;
      margin: 5px;
      margin-bottom: 0;
    }
  }
  .fa {
    font-size: 18px;
  }
}

.game-icon {
  width: 45px;
  border-radius: 5px;
}

.star-voting {
  * {
    margin: 0 !important;
  }
  transform: translateY(10%);
  svg {
    width: 15px;
  }
}

.right-pannel {
  border-left: 0.01em solid $secondary_grey;
}
//

@media only screen and (max-width: 520px) {
  .nav-container {
    height: 120px;
    .app-nav {
      .logo {
        height: 50px;
        width: 50px;
        margin-top:15px;
      }
      .menu-button{
        margin:0;
        padding:10px;
        width:80px;
        margin:auto;
        position:absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
        .menu-icon{
          width:20px;
        }
      }
    }
  }
}
